<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/contact.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;900&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="js/gnb.js"></script>

</head>
<body>
    <%-include('header.ejs')%>
    <main>
        <img class="mainImg" src="../images/contact.png" alt="">
        <h2>Contact</h2>
        <form action="">
            <fieldset class="contact-form">
                <legend></legend>
                <label for="">Writer</label><span class="text-box"><input type="text"></span>
                <label for="">Title</label><span class="text-box"><input type="text"></span>
                <label for="">Description</label><span class="text-box"><textarea class="text-area" name="" id="" cols="30" rows="10"></textarea></span>
                <button>Submit</button>
            </fieldset>
        </form>
    </main>
    <%-include('footer.ejs')%>
</body>
</html>