<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/instructor.css">
    <script src="https://code.jquery.com/jquery-3.6.2.js" integrity="sha256-pkn2CUZmheSeyssYw3vMp1+xyub4m+e+QK4sQskvuo4=" crossorigin="anonymous"></script>
    <script src="js/gnb.js"></script>

</head>
<body>
    <%-include('header.ejs')%>
    <main>
        <h2>Instructor</h2>
        <div class="instructor-list lebron">
            <div class="instructor-desc">
            <ul>
                <li>Lebron James</li>
                <li>weight</li>
            </ul>
            <p><a href="#">Go course ></a></p>
            </div>
        </div>
        <div class="instructor-list curry">
            <div class="instructor-desc">
            <ul>
                <li>Stephen Curry</li>
                <li>shooting & dribble</li>
            </ul>
            <p><a href="#">Go course ></a></p>
            </div>
        </div>
        <div class="instructor-list durant">
            <div class="instructor-desc">
            <ul>
                <li>Kevin Durant</li>
                <li>offense</li>
            </ul>
            <p><a href="#">Go course ></a></p>
            </div>
        </div>
        <div class="instructor-list luka">
            <div class="instructor-desc">
            <ul>
                <li>Luka Doncic</li>
                <li>clutch</li>
            </ul>
            <p><a href="#">Go course ></a></p>
            </div>
        </div>
        <div class="instructor-list kim">
            <div class="instructor-desc">
            <ul>
                <li>TaeHyung Kim</li>
                <li>master instructor</li>
            </ul>
            <p><a href="#">Go course ></a></p>
            </div>
        </div>
    </main>
    <%-include('footer.ejs')%>
</body>
</html>